:root{
    --col-1:calc(100%/12*1;)
    --col-1:calc(100%/12*2;)
    --col-1:calc(100%/12*3;)
    --col-1:calc(100%/12*4;)
    --col-1:calc(100%/12*5;)
    --col-1:calc(100%/12*6;)
    --col-1:calc(100%/12*7;)
    --col-1:calc(100%/12*8;)
    --col-1:calc(100%/12*9;)
    --col-1:calc(100%/12*10;)
    --col-1:calc(100%/12*11;) 
    --col-1:calc(100%/12*12;)

}
.col-1{
    padding-left: 15px;
    padding-right: 15px;
    width: var(--col-1);
}
.col-2{
    padding-left: 15px;
    padding-right: 15px;
    width: var(--col-2);
}
.col-3{
    padding-left: 15px;
    padding-right: 15px;
    width: var(--col-3);
}
.col-4{
    padding-left: 15px;
    padding-right: 15px;
    width: var(--col-4);
}
.col-5{
    padding-left: 15px;
    padding-right: 15px;
    width: var(--col-5);
}
.col-6{
    padding-left: 15px;
    padding-right: 15px;
    width: var(--col-6);
}
.col-7{
    padding-left: 15px;
    padding-right: 15px;
    width: var(--col-7);
}
.col-8{
    padding-left: 15px;
    padding-right: 15px;
    width: var(--col-8);
}
.col-9{
    padding-left: 15px;
    padding-right: 15px;
    width: var(--col-9);
}
.col-10{
    padding-left: 15px;
    padding-right: 15px;
    width: var(--col-10);
}
.col-11{
    padding-left: 15px;
    padding-right: 15px;
    width: var(--col-11);
}
.col-12{
    padding-left: 15px;
    padding-right: 15px;
    width: var(--col-12);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.block{
    height: 500px;
    background-color: aqua;
}
.parent{
    height: 100px;
    background: red;
    border: 1px solid greenyellow;
}
.child{
    height: 50px;
    background: #000;
    border: 1px solid white;

}